*, *::before, *::after {
    box-sizing: border-box;
}

:root {
  --green-color: rgb(27, 185, 61);
  --orange-color: rgb(238, 162, 20);
  --blue-color: rgb(66, 151, 231);
  --darkgreen-color:#23424a;
  --tealcgreen-color: #38cfd9;
  --smokewhite-color:  rgb(238, 235, 235);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

.green {
    color:rgb(27, 185, 61)
}

.orange {
    color: rgb(218, 152, 30);
}

.blue {
    color: rgb(66, 151, 231);
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 3rem auto;
}

.row {
    display: flex;
}

.ruta-1 {
    text-align: left;
    color: #23424a;
    padding: 1.5rem;
    margin: 3rem;
}

.ruta-2 {
    text-align: center;
    background: #38cfd9;
    color: #23424a;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 3rem;
}

.col {
    width: 100%;
}

.col + .col {
    margin-left: 2rem;
}

.hero {
    padding: 5rem;
    background-color: #23424a;
    color: white;
}

.hero__text {
    width: 60%;
}

.hero__img {
    align-self: flex-start;
    width: 40%;
}

.hero p {
    margin-bottom: 7em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424a;
    font-weight: 900;
    background-color: #38cfd9;
    padding: .75em 2em;
    border-radius: 100px;
    margin-bottom: 0;
}

.btn:hover {
    opacity: .75;
}

.btn:focus {
    box-shadow: 
    0 0 0 5px #23424a,
    0 0 0 10px  #38cfd9;
}

