*, *::before, *::after {
    box-sizing: border-box;
}

:root {
  --green-color: rgb(27, 185, 61);
  --orange-color: rgb(238, 162, 20);
  --blue-color: rgb(66, 151, 231);
  --darkgreen-color:#23424a;
  --tealcgreen-color: #38cfd9;
  --smokewhite-color:  rgb(238, 235, 235);

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

.green {
    color:rgb(27, 185, 61)
}

.orange {
    color: rgb(218, 152, 30);
}

.blue {
    color: rgb(66, 151, 231);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-bottom {
    background:  #38cfd9;
    color:   #23424a;
    width: 100%;
}

.row {
    display: flex;
}

.col {
    background: rgb(238, 235, 235);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 grey ;
    margin: 100px 50px;
    padding: 1em;
    width: 100%;
}

.col-bottom {
    text-align: center;
    padding: 3em 2em;
}

.hero {
    padding: 100px 0;
    background-color: #23424a;
    color: white;
}

.hero p {
    margin-bottom: 3em;
}

.hero__text {
    width: 50%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424a;
    font-weight: 900;
    background-color: #38cfd9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover {
    opacity: .75;
}

.btn:focus {
    box-shadow: 
    0 0 0 5px #23424a,
    0 0 0 10px  #38cfd9;
}